.gallery {
  display: grid;
  width: 1440px;
  height: 696px;
  align-content: center;
  grid-template-columns: 360px 360px 360px;
  background: #fff;
  gap: 24px;
  padding: 24px;
  margin-left: 156px;
  margin-right: 156px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.large-image {
  width: 1112px;
  height: 640px;
}

li {
  display: inline-block;
}
